<ng-container>
    <mat-toolbar color="primary" class="navbar-header flex mat-elevation-z6">
        <i class="material-icons">face</i>
        <span>Application Title</span>
        <a mat-button (click)="sidenav.toggle()">Toggle</a>
        <!-- This fills the remaining space of the current row -->
        <span class="flex-spacer"></span>
        <span>Right Aligned Text</span>
    </mat-toolbar>
    <mat-sidenav-container class="container">
        <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
            Sidenav
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
            <footer></footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <div style="height:20px">123</div>
</ng-container>